<!-- <% const googlekey="AIzaSyDpFuczer7qE460gBpIvdkknU0LBUrNQNY" %> -->
<div id="floating-panel">
           <input id="address" type="textbox" value="San Antonio,Tx">
           <input class="btn btn-primary" id="submit" type="button" value="Geocode">
         </div>

         <div id="map">
         <script>
           function initMap() {
             var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 8,
               center: {lat: 47.6079681, lng: -122.335}
             });
             var geocoder = new google.maps.Geocoder();

             document.getElementById('submit').addEventListener('click', function() {
               geocodeAddress(geocoder, map);
             });
           }

           function geocodeAddress(geocoder, resultsMap) {
             var address = document.getElementById('address').value;
             geocoder.geocode({'address': address}, function(results, status) {
               if (status === 'OK') {
                 resultsMap.setCenter(results[0].geometry.location);
                 var marker = new google.maps.Marker({
                   map: resultsMap,
                   position: results[0].geometry.location
                 });
               } else {
                 alert('Geocode was not successful for the following reason: ' + status);
               }
             });
           }
         </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpFuczer7qE460gBpIvdkknU0LBUrNQNY">
   </script>
