<aside class="sidebar" id="navbar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/items">Items</a>
    </li>

  </ul>
</aside>
<!-- <img src="/assets/RainbowClouds.jpg" alt="RainbowClouds"> -->
