<aside id="nav_inner">

      <a href="/">Home</a>
      <br>
      <a href="/items">Entries</a>
      <br>
      <a href="#">About</a>
</aside>
<!-- <img src="/assets/RainbowClouds.jpg" alt="RainbowClouds"> -->
