<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs%>
	</head>
	<body>
		<header>
			<div id="topperentry">
				<div class="font1" id="growbinentry">growbin</div>
			</div>
			<nav>
				<ul>
					<li>
						<a href="/users">Users</a>
					</li>
					<br>
					<li>
						<a href="/items">Entries</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
