<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs%>
	</head>
	<body>
		<header>
			<h1>Seed Trader</h1>
			<nav>
				<ul>
					<li>
						<a href="/users">Users</a>
					</li>
					<li>
						<a href="/items">Items</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
