.containerBox{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
}
.itemBox{
  /*width:150px;
  height: 150px;
  width:150px;
  height: 150px;*/
  border: 1px solid #CCCCCC;
  margin-left: 3px;
}
.photo{
  align-content: center;
}
img{
  width:90%;
  height:90%;
  margin-left: 5%;
  margin-top: 10%;
}
body{
  text-decoration: none;
  font-family:Geneva, Arial, Helvetica, sans-serif;
  background-color: #CCFFCC;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  width: 100%;
}
h1{
  width:100%;
  height:auto;
  border: 1px solid #CCCCCC;
}
h2{
  width:100%;
  height:auto;
  border: 1px solid #CCCCCC;
}
#footsie{
  color: #86794A;
  width: 100%;
  height:4.3em;
  vertical-align: middle;
  line-height: 1.0em;
  border: 1px solid #CCCCCC;
  background-color: #34270C;
}
#floating-panel {
  /*google maps*/
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#growbin{

}
#map {
  /*google maps*/
    width: 400px;;
    height: 400px;
    background-color: grey;
    margin: 20px;
}
#navbar{
  text-decoration: none;
  padding-top:100px;
  padding-right: 40px;
  padding-bottom: 300px;
  padding-left: 40px;
  margin-right:100px;

  align-self: flex-start;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}
#topper{
  color: #86794A;
  width: 100%;
  height:4.3em;
  vertical-align: middle;
  line-height: 1.0em;
  border: 1px solid #CCCCCC;
  background-color: #34270C;
}
