.containerBox{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
}
.itemBox{
  /*width:150px;
  height: 150px;
  width:150px;
  height: 150px;*/
  border: 1px solid #CCCCCC;
  margin-left: 3px;
}
.photo{
  align-content: center;
}
img{
  width:90%;
  height:90%;
  margin-left: 5%;
  margin-top: 10%;
}
body{
  font-family:Geneva, Arial, Helvetica, sans-serif;
  background-color: #CCFFCC;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  width: 100%;
}
h1{
  width:100%;
  height:auto;
  border: 1px solid #CCCCCC;
}
h2{
  width:100%;
  height:auto;
  border: 1px solid #CCCCCC;
}
#footsie{
  width: 100%;
  border: 1px solid #CCCCCC;
}
#navbar{
  text-decoration: none;
  padding-top:100px;
  padding-right: 40px;
  padding-bottom: 300px;
  padding-left: 40px;
  margin-right:100px;

  align-self: flex-start;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
}
