
.containerBox{
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
}
.displaylist{
  background-color: rgba(255,215,150,0.40);
  border: 1px solid #CCCCCC;
}
.itemBox{
  margin-left: 3px;
}
.make_new{
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
}
.photo{
  align-content: center;
}
a{
  color: #3333FF;
  text-decoration: none;
}
img{
  width:100px;
  height:auto;
  margin-left: 5%;
  margin-top: 10%;
}
body{
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  /*font-family:Geneva, Arial, Helvetica, sans-serif;*/
  background-color: #E9E7B7;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  width: 100%;
}
header{
  align-self:flex-start;
  height:20%;
  width:100%;
}
h1{
  /*width:100%;*/
  font-family: 'Gloria Hallelujah', cursive;
  height:auto;
  border: 1px solid #CCCCCC;
}
h2{
  /*width:100%;*/
  font-family: 'Gloria Hallelujah', cursive;
  height:auto;
  border: 1px solid #CCCCCC;
}
#allinfo{
  margin-top: 5%;
  margin-left: 10%;
  width:80%;
  background-color: rgba(215,215,215,0.40);
}
#footsie{
  color: #86794A;
  width: 100%;
  height:4.3em;
  align-self: flex-end;
  line-height: 1.0em;
  border: 1px solid #CCCCCC;
  background-color: #34270C;
}
#floating-panel {
  /*google maps*/
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#growbin{
  font-family: 'Kavoon', cursive;
  font-size: 3.5em;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
}
#growbinentry{
  font-family: 'Kavoon', cursive;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
#maincontainer{
  align-items: stretch;
  height:80%;
  width: 84%;
  border: 1px dotted #CCCCCC;
}
#main_sub{
  height:100%;
  width: 78%;
  border: 1px solid #CCCCCC;
}
#map {
  /*google maps*/
    width: 400px;
    height: 400px;
    background-color: grey;
    margin: 20px;
}
#navbar{
  height:300px;
  width:15%;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  padding-bottom: 50%;
}
#nav_inner{
    height:100%;
    order:-1;
    width:30%;
    line-height:3em;
}
#topper{
  color: #C3CA80;
  width: 100%;
  height:4.3em;
  vertical-align: middle;
  line-height: 1.0em;
  border: 1px solid #CCCCCC;
  background-color: #E9E7B7;
}
#topperentry{
  color: #C3CA80;
  width: 100%;
  height:4.3em;
  vertical-align: middle;
  line-height: 1.0em;
  text-align:center;
}
