<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
        This is a site where people can post what kind of seeds they have and write about their
        experiences growing them in their area.  Ideally this would be so that others can decide
        whether they would want to grow them, or perhaps even trade seeds in a future version.
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
