<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
			<h1>items</h1>
			<nav>
				<% include ../partials/nav.ejs%>
				</ul>
				<li>
		      <a href="/items/new">Create a new item</a>
		    </li>
			</nav>
		</header>
		<main>
			<h2>List of items</h2>
			<div class="containerBox">
				<% for(let i = 0; i < items.length; i++){ %>
					<div class="itemBox">
						<div class="item">
							<a href="/items/<%=items[i]._id%>"><img src="<%=items[i].link%>" alt="<%=items[i].name%>"/></a>
						</div>
					</div>
				<% } %>
			</div>
		</main>
		<% include ../partials/footer.ejs%>
	</body>
</html>
