<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<h1>Create an entry</h1>
			<nav>
				<% include ../partials/nav.ejs%>
			</nav>
		</header>
		<main>
			<form action="/items" method="POST">
				<select name="userId">
					<!-- name is the property that req.body will search for on POST -->
					<%for(let i=0; i<users.length; i++){%>
						<option value="<%=users[i].id%>"><%=users[i].name%></option>
					<%}%>
				</select><br>
				<input placeholder="name" type="text" name="name"/><br/>
        <input placeholder="link" type="text" name="link" /><br/>
				<textarea placeholder="description" name="body"></textarea><br/>
				<input type="submit" value="Publish item"/>
			</form>
		</main>
		<% include ../partials/footer.ejs%>
	</body>
</html>
