<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
				<h1>Edit <%=user.name%>'s Info</h1>
				<h2>User Name:</h2>
				<form action="/users/<%=user._id%>?_method=PUT" method="post">
					<input type="text" name="name" value="<%=user.name%>"/><br/>
					<input type="submit" value="Update User"/>
				</form>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
