<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="maincontainer">
			<div id="navbar">
				<% include ../partials/nav.ejs%>
			</div>
			<div id="main_sub">
				<h2>List of Users</h2>
				<ul>
					<% for(let i = 0; i < users.length; i++){ %>
						<li>
							<a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
