<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
				<a href="/users/new">Create a new user</a>
				<br><br>
				<h2>List of Users</h2>
				<ul>
					<% for(let i = 0; i < users.length; i++){ %>
						<li>
							<a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
						</li>
					<% } %>
				</ul>
				<br>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
