<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs%>
	</head>
	<body>
		<header>
			<% include ../partials/topper.ejs%>
		</header>
		<div id="navbar">
			<% include ../partials/nav.ejs%>
		</div>
		<div id="maincontainer">
			<div id="main_sub">
				<h1>Create a User</h1>
				<form action="/users" method="post">
					<input placeholder="name, press enter" type="text" name="name" />
				</form>
			</div>
		</div>
		<% include ../partials/footer.ejs%>
	</body>
</html>
